<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BajajFinserv" verbose="1">
	<test name="POC_Test_Cases">
		<classes>
			<class name="com.datamato.tests.WelcomePageTest">
			</class>
			<class name="com.datamato.tests.LoginToExistingCustomerTest">
			</class>
			<class name="com.datamato.tests.PersonalLoanTest">
			</class>
			<class name="com.datamato.tests.PocketInsuranceTest">
			</class>
		</classes>
	</test>
</suite>